#root{
  width: 100%;
  height: auto;
  background-color: rgb(46, 48, 49);
}

.container-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
 
}

